
{% extends "base.html.twig" %}
{%  block body %}
    <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
        <div class="carousel-indicators">
    {% if headers|length > 1 %}
        {% for key, header in headers %}
            <button type="button"
                    data-bs-target="#myCarousel"
                    data-bs-slide-to="{{ key }}"
                    {% if key == 0 %}class="active" aria-current="true"{% endif %}
                    aria-label="Slide {{ key + 1 }}">
            </button>
        {% endfor %}
    {% endif %}
</div>
        <div class="carousel-inner">
           
          {% for header in headers %}
             <div class="carousel-item {% if loop.index0 == 0 %}active{% endif %}">
                <img src='/uploads/{{header.iillustration}}' class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></img>
                <div class="container">
                    <div class="carousel-caption text-start">
                        <h1> {{header.title}} </h1>
                        <p class="opacity-75">{{header.content}} </p>
                        <p><a class="btn btn-lg btn-primary" href="{{header.buttonLink}}"> {{header.buttonTitle}} </a></p>
                    </div>
                </div>
            </div>
          {% endfor %}
         
        </div>
    {% if headers|length > 1 %}
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
   {% endif %}
    </div>

    <div class="container marketing">

        <div class="row">
            {% for product in productsInhomepage %}
                <div class="col-lg-4">
                    <img src='/uploads/{{product.illustration}}' class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></img>
                
                    <h2 class="fw-normal">{{product.name}}</h2>
                    <div style='font-size:14px;' >{{product.description|raw}}</div>
                    <p><a class="btn btn-secondary mt-2" href="{{path('app_product', {slug:product.slug})}}">Decouvrir</a></p>
                </div>          
          
            {% endfor %}
        </div>

     {% for product in productsInhomepage %}
    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 {% if loop.index is even %}order-md-2{% endif %}">
            <h2 class="featurette-heading fw-normal lh-1">
                {{ product.name }} 
                <span class="text-body-secondary">Découvrez ce produit</span>
            </h2>
            <p class="lead">{{ product.description|striptags|slice(0, 200) ~ '...' }}</p>
        </div>
        <div class="col-md-5 {% if loop.index is even %}order-md-1{% endif %}">
            <img src="/uploads/{{ product.illustration }}" class="featurette-image img-fluid mx-auto" width="500" height="500" alt="{{ product.name }}">
        </div>
    </div>
{% endfor %}

<hr class="featurette-divider">


    </div>
{% endblock %}
